{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Scheduler</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/jquery-ui.multidatespicker.css' %}">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form class="createSchedule">

                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="text" class="form-control datepicker" id="startDate" name="startDate"
                           placeholder="Start Date">
                </div>

                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="text" class="form-control datepicker" id="endDate" name="endDate"
                           placeholder="End Date">
                </div>

                <div class="form-group">
                    <label for="exceptionDate">Exception Date</label>
                    <div id="exceptionDate"></div>
                </div>


                <button type="submit" class="btn btn-default">Create</button>
            </form>
        </div>

        <div class="col-sm-12">
            <div class="result">
                {{ schedule }}
            </div>
        </div>

    </div>
</div>




</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="{% static 'js/jquery-ui.multidatespicker.js' %}"></script>

<script src="{% static 'js/index.js' %}"></script>


</html>